---
---

@import "./defaults.scss";

$circleSize: 2000px;
$circleSizeFooter: 2000px;
$circleRevealSmall: 400px;
$circleRevealSmall_: 300px;
$circleRevealLarge: 700px;
$circleRevealLarge_: 600px;
$circleSizeItem: 500px;
$circleRevealItem:400px;
$circleSizeItem_: 360px;
$circleRevealItem_:240px;
$navHeight: 80px;

$section_pad: 80px;
$section_pad_: 50px;

@mixin section_row {
	margin-top:$section_pad;
	@include breakpoint(m) {margin-top:$section_pad_;}
}

@mixin basic_shadow {
    box-shadow:0px 0px 5px rgba(0,0,0,0.3);
}

@mixin narrow {
    max-width:840px;
}

@keyframes spin {
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}

@mixin spin {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

// Reusuable Circle Styles =========================================================

.header-circle-container {
    position:relative; width:100%; height:1000px; margin-bottom:-1000px; overflow-x:hidden; z-index:-1;
}

.circle {
    position:absolute; content:''; height:$circleSize; width:$circleSize; 
    left:50%; top:0px; margin-left:0 - ($circleSize/2); margin-top:0 - $circleSize + $circleRevealSmall; border-radius:50%; 
    background-size:cover; background-color:black; background-position:center center;
    z-index:0; overflow:hidden;

    @include breakpoint(m) {
        margin-top:0 - $circleSize + $circleRevealSmall_;
    }
    
    &.slideshow {
        margin-top:0 - $circleSize + $circleRevealLarge;
    }
    .slider, .bg {
        position:relative; margin-top:$circleSize - $circleRevealLarge; margin-left:auto; margin-right:auto; 
        width:100vw; height:$circleRevealLarge; opacity:0.55;
    }
    .bg {
        background-size:cover; background-position:center center;
    }
}

.square-item {
    position:relative; width:100%; height:300px; background-size:cover;
}

.circle-item {
    position:relative; width:100%; padding-top:100%; border-radius:50%; background-size:cover; overflow:hidden;
}

// Reusable Styles
.block-title {
    border-left:3px solid #222; margin-bottom:20px;
    span {
        display:inline; padding:6px 18px; background:#eee; line-height:1.6;
        box-decoration-break: clone; -webkit-box-decoration-break: clone;
    }
}
.center-inside {
    position:absolute; top:0px; width:100%; height:100%; text-align:center; 
    display:flex; justify-content:center; align-items:center; padding:$padding;
    background-color:rgba(0,0,0,0.55); color:white;
}
.subtitle {color:#666;}
.inline-divider {display:inline-block; margin:0px 6px;}
.section {@include section_row;}
.file-embed {
    border:0px; width:100%; height:calc(100vh - 60px); min-height:400px;
    object {display:block; width:100%; height:100%;}
    @include breakpoint(s) {display:none;}
}
.file-download {
    display:block; @include row; margin-left:auto; margin-right:auto; text-align:center;
    padding:20px 30px; max-width:240px; border:2px solid #ccc;
    i {margin-right:20px;}
}
details {
    @include vertical_pad; border-bottom:1px solid #ccc; 
    summary {
        font-size:24px;
        i {display:inline-block; margin:0px 15px;}
    }
    &[open] summary {margin-bottom:30px;}
    &:first-of-type {padding-top:0px;}
    &:last-of-type {border-bottom:0px; padding-bottom:0px;}
}
.capitalize {
    text-transform: capitalize;
}
.return-link:first-of-type {display:inline-block; margin-bottom:15px;}
.explore-buttons {
    a {
        @include row; position:relative; height:220px; background:#333; color:white; overflow:hidden;
        .bg {
            position:absolute; width:100%; height:100%; background-size:cover; opacity:0.6; z-index:5;
        }
        .inside {
            z-index: 10; position:relative; padding:0px 30px; height:100%; width:100%;
            text-align:center; display:flex; justify-content:center; align-items:center;
        }
        &:hover {
            box-shadow:0px 0px 5px rgba(0,0,0,0.3);
            .bg {width:120%; height:120%; left:-10%; top:-10%;}
        }
    }
}


// Site Styles ============================================================

.header {
    position:relative; padding-top:$padding; color:white; z-index:10;
    .logo {height:$navHeight;}
    .navigation {
        float:right; text-align:right;
        li {
            display:inline-block; line-height:$navHeight; font-size:26px; margin-left:$padding; 
            font-weight:500; text-shadow:0px 0px 2px rgba(0,0,0,0.3);
            &:hover {text-shadow:0px 0px 5px rgba(0,0,0,0.6);}

            @include breakpoint(notTouch) {
                &.admin-nav {
                    display:block; position:absolute; right:0px; top:0px; background:#F2CD5C;
                    line-height:1; padding:6px 10px; font-size:18px; color:black; text-shadow:none;
                }
            }
        }
        a {border-bottom:none;}

        @include breakpoint(m) {
            text-align:left;
            li {
                display:block; line-height:2; font-size:24px; margin:0px; 
                text-shadow:none; color:black;
                &:hover {text-shadow:none;}
            }
            a {display:block;}
        }
    }
}

.page-header {
    position:relative; padding-top:100px; text-align:center; z-index:5; color:white;
    min-height:$circleRevealSmall - $navHeight - $padding - 10px;
    &.slideshow {
        min-height:$circleRevealLarge - $navHeight - $padding;
    }

    h2 {max-width:960px; margin:0px auto; font-weight:normal; color:white;}

    @include breakpoint(m) {
        padding-top:60px;
        min-height:$circleRevealSmall_ - $navHeight - $padding;
        &.slideshow {
            min-height:$circleRevealLarge_ - $navHeight - $padding_;
        }
    }
    @include breakpoint(s) {
        min-height:$circleRevealSmall_ - $navHeight - $padding - 10px;
    }
}

.content-area {
    @include section_row; @include narrow;
}

.content {
    a {
        border-bottom:2px solid #ccc;
        &:hover {border-bottom:2px solid #222;}
    }
    img {
        display:block; max-height:500px; margin:auto;
    }
    img + em {
        display:block; text-align:center; max-width:300px; margin:20px auto 0px; font-size:16px; font-style:normal;
    }
}

.list {
    margin-top:$section_pad - $padding;
}

.item {
    position:relative; border:2px solid #e9e9e9; @include row; overflow:hidden;
    h2, h4, p {position:relative; z-index:1;}

    .circle {
        .bg {opacity:0.9;}
    }
    .item-name {
        position:absolute; top:0px; left:0px; padding:6px 10px;
        background:#F2CD5C; color:#222; font-weight:700; font-size:14px; text-transform:uppercase; 
    }

    &.finding {
        padding:50px $padding 50px ($circleRevealItem + $padding);
        .circle {
            height:$circleSizeItem; width:$circleSizeItem; top:50%; left:$circleRevealItem - $circleSizeItem; 
            margin-top:0 - ($circleSizeItem / 2); margin-left:0px;
            .slider, .bg {margin-top:0px; margin-left:0px; width:100%; height:100%;}
        }
        h2 {margin-left:-160px;}

        &.no-image {
            padding:50px;
            h2 {margin-left:0px;}
        }

        @include breakpoint(m) {
            padding:30px $padding 30px ($circleRevealItem_ + $padding);
            .circle {
                height:$circleSizeItem_; width:$circleSizeItem_; left:$circleRevealItem_ - $circleSizeItem_; 
                margin-top:0 - ($circleSizeItem_ / 2);
            }
            h2 {margin-left:-100px;}
        }

        @include breakpoint(s) {
            padding:0px $padding_ $padding_;
            .circle {
                position:relative; left:50%; width:360px; height:360px; margin-left:-180px; margin-top:-180px;
            }
            h2 {margin:-20px auto 40px;}
        }
    }
    
    &.project {
        text-align:center; padding:120px 30px 30px;
        h2 {margin-top:30px;}
        .block-title {border:0px;}
        .circle {
            width:500px; height:500px; left:50%; top:0px; margin:-300px 0px 0px -250px;
            .bg {width:100%; height:50%; margin-top:250px;}
        }

        &.no-image {
            padding:30px;
            h2 {margin-bottom:20px;}
        }
    }

    &.archive {
        padding:30px 30px 30px 330px;
        .circle {
            height:100%; width:300px; top:0px; left:0px; margin-top:0px; margin-left:0px; border-radius:0px;
            .bg {width:100%; height:100%; margin:0px; background-position:top center;}
        }

        &.no-image {
            padding:30px;
            @include breakpoint(s) {padding:$padding_;}
        }

        @include breakpoint(s) {
            padding:$padding_;
            .circle {
                position:relative; height:160px; width:100%; margin-bottom:$padding_;
            }
        }
    }
}

.footer {
    position:relative; @include section_row; overflow:hidden;
    .circle {
        height:$circleSizeFooter; width:$circleSizeFooter; margin-left:0 - ($circleSizeFooter/2);
        background:#F2CD5C; margin-top:0px; z-index:0;
    }
    .footer-section {
        position:relative; padding:40px $padding_; text-align:center; z-index:1; border-bottom:1px solid white;
        a {border-bottom:1px solid #222;}
        p:first-of-type {margin-top:0px;}
        &.newsletter {
            padding:60px $padding_;
            @include breakpoint(s) {
                input {max-width:200px;}
            }
        }
        &.donate {
            h3, a {display:inline-block; vertical-align:middle;}
            a {margin-left:40px; border:0px;}
            @include breakpoint(s) {
                h3 {display:block;}
                a {margin:10px 0px 0px;}
                img {height:30px;}
            }
        }
    }
}

#mc-embedded-subscribe-form {
    margin-top:20px;
    input {display:inline-block; width:auto; padding:8px 12px; font-family:inherit; border:none; border-radius:0px;}
    input.email {width:300px;}
    .response {margin-top:20px; font-size:16px;}
}

// Page Styles =============================================================
.home {
    .page-header {
        @include breakpoint(m) {
            h2 {font-size:28px;}
        }
        @include breakpoint(s) {
            h2 {font-size:22px;}
        }
    }
}
.home-features {
    position:relative; margin-top:-210px; z-index:5;
    @include breakpoint(m) {margin-top:-120px;}
    .item {
        border:0px; @include basic_shadow; background:white;
        &.project {
            background:#333; color:white; padding:200px 30px 50px; box-shadow:0px 0px 20px rgba(0,0,0,0.3);
            .circle {
                width:720px; height:720px; left:50%; top:0px; margin:-450px 0px 0px -360px;
                .bg {width:100%; height:50%; margin-top:450px;}
            }
            .item-name {left:50%; margin-left:-80px;}
            .block-title span {background:#F2CD5C; color:#222;}
        }
    }
}
.home-featured-sections {
    @include section_row; background:#eee; padding:50px 0px; text-align:center;
    .columns {@include row; max-width:840px;}
    .column {
        .circle-item {width:110%; margin-left:-5%; padding-top:110%; @include basic_shadow;}
    }
    @include breakpoint(s) {
        .column .circle-item {margin-left:5%; width:90%; padding-top:90%;}
    }
}
.home-about {
    @include section_row; text-align:center;
}
.item_archives {
    .content-area {text-align:center;}
}
.press {
    .column {
        @include row; border:2px solid #ddd;
        .inside {@include padding;}
        a {
            position:relative; display:block; padding:10px 30px; background:#ddd;
            &:after {position:absolute; right:30px; content:"\2192";}
        }
    }
}
.transcript {
    background:#efefef;
    .content {
        @include narrow; margin-left:auto; margin-right:auto; padding:$section_pad_ $padding;
        @include breakpoint(s) {padding:$padding $padding_;}


        // Newspaper Header
        h1 {font-size:36px;}

        // Article Headers
        h2 {font-size:30px; border-top:1px solid #ccc; margin-top:30px; padding-top:20px;}

        // Issue Pages
        h4 {margin:80px 0px 20px; font-weight:bold;
            font-family:Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase;}
        h4:first-of-type {margin-top:0px;}

        // Annotations
        span {background:#F2CD5C; cursor:pointer;}
    }
}
.toc-details {
    margin-bottom:30px;
    #toc {
        padding:20px; background:#666; color:white;
        a {
            display:block; border:0px;
            &.H4 {margin-top:20px;}
            &.H2 {padding-left:20px;}
        }
    }
}

// Application Styles ==================================================
[x-cloak] { display: none !important; }

// Components
form {
    span {display:block; margin:12px 0px 6px; font-size:18px;}
    span.instructions {font-size:16px; margin-top:8px; color:#666;}
    input {border:1px solid #ccc; padding:10px;}
    select {font-family:inherit; font-size:inherit; min-width:240px;}
    button {margin-top:20px; margin-right:20px;}
    .error {color:#cc0000; font-weight:bold;}
}
button, a.button {
    display:inline-block; cursor:pointer; border:0px; font-family:inherit; font-size:18px;
    background:#eee; padding:10px 20px;
}
.tab-container {
    background:#eee;
    button {background:#ddd;}
    .tabs {
        background:#ddd;
        div {
            display:inline-block; padding:12px 20px; cursor:pointer;
            &:hover {background:#ccc;}
            &.active {background:#eee;}
        }
    }
    .tab {
        padding:20px; display:none;
        &.active {display:block;}
    }
}
.values {
    .value {
        display:inline-block; margin:20px 30px 0px 0px;
    }
}
.modal-container {
    position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:1000;
}
.modal-overlay {
    position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.75); z-index:1005; cursor:pointer;
}
.modal {
    position:relative; max-height:80vh; margin:10vh auto; @include narrow; z-index:1010;
    background:white; @include padding; @include box-shadow(0px 0px 10px rgba(0,0,0,0.3));
    overflow-y:scroll;

    h4 {
        font-family:'Helvetica', 'Arial', sans-serif; text-transform:uppercase; font-weight:normal; font-size:12px;
    }
    .title {margin-top:10px; margin-bottom:8px; font-size:24px; font-weight:bold;}
    .subtitle {margin-top:8px; font-size:16px;}
    .tox-tinymce {border-radius:0px; margin-top:20px;}
    .highlight-button {background:#F2CD5C;}
    .error {margin-top:20px;}
    .buttons {
        float:right; text-align:right;
        button {margin:0px; margin-left:20px;}
    }
    .fa-spinner {@include spin;}
}
.multi-selector {
    position:relative;
    .selection, .options {width:100%; background:white; color:#222;}
    .selection {
        padding:0px 6px; cursor:pointer;
        i.fa {float:right; line-height:24px;}
    }
    .options {
        position:absolute; @include basic_shadow();
        .padding {padding:4px 6px;}
        .option {
            cursor:pointer;
            i.fa {display:inline-block; font-size:12px; margin-right:4px; color:#ddd;}
            &.selected i.fa {color:#222;}
        }
        .apply {
            width:100%; text-align:center; padding:4px; background:#ddd; cursor:pointer;
            font-family:sans-serif; font-size:12px; text-transform: uppercase;
            &.ready {background:#F2CD5C;}
        }
    }
}

#page-slug {display:none;}
#annotation-note {
    position:absolute; display:none; 
    background:#333; color:white; padding:4px 6px; font-size:12px; font-family:Arial; font-style:italic;
    &.show {display:block;}
}
#expired {
    display:none; color:#cc0000; text-align:center; margin-bottom:30px;
    &.show {display:block;}
}
#manage-account {
    display:none; margin:30px 0px;
    &.show {display:block;}
}

.admin-messages {
    position:fixed; bottom:0px; right:0px; max-width:400px; padding:20px; z-index:10000;
    li {
        position:relative; list-style:none; padding:8px 12px; margin-top:20px; 
        background:#F2CD5C; @include basic_shadow();
        font-family:'Arial', sans-serif; font-size:14px; color:#333;
        &.error {background:#cc0000; color:white;}
       .close {
            display:block; float:right; margin-left:6px; cursor:pointer; color:white;
        }
    }
}
.admin-buttons {
    float:right; margin-top:0px;
    button {margin-left:10px;}
}
.admin-table {
    margin-top:$padding;
    table {width:100%; margin-top:10px; background:#666; color:white;}
    thead {background:#333;}
    th {padding:8px 12px; text-align:left;}
    td {padding:10px 12px; font-size:18px; border-bottom:1px solid #444; min-width:100px;}
    tr:last-child td {border-bottom:0px;}
    .buttons {
        text-align:right; min-width:60px;
        div {display:inline-block; cursor:pointer; margin-left:8px;}
        button.fa {background:none; padding:0px; color:inherit;}
    }
    select {font-family:inherit; font-size:inherit;}
    input {border:0px; background:none; padding:0px; width:100%; 
        color:white; font-family:inherit; font-size:inherit;}
    input::placeholder {font-style:italic; color:#ccc;}
    .table-loading {float:left; line-height:30px; margin-right:12px;}
    .fa-spinner {@include spin;}

    tr.filter {
        .buttons button {padding:2px 5px; border-radius:2px; background:#F2CD5C; color:#333;}
        td {background-color:#777;}
    }

    th.sortable {
        cursor:pointer;
        &.sorted:after {
            display:inline-block; vertical-align:text-bottom; margin-left:10px; font-size:10px; line-height:22px;
            content:"\25BC";
        }
        &.sorted.reversed:after {content:"\25B2";}
    }

    td.linked {
        text-decoration:underline; cursor:pointer;
    }

    .load-more {
        width:100%; padding:12px; background:#ccc; text-align:center; cursor:pointer;
    }
    .error-message {
        margin-top:8px; padding:12px; border:2px solid #cc0000; color:#cc0000; text-align:center;
    }
}
.annotation-toolbar {
    background:#F2CD5C;
    &.sticky {position:fixed; top:0px;}
    li {
        display:inline-block; list-style-type:none; padding:10px 20px; cursor:pointer;
        i {display:inline-block; margin-right:10px;}
    }
}
