<div class="circle{% if circle_item.primary_images %} slideshow{% endif %}">
    {% if circle_item.primary_images %}
        <div class="slider">
        {% for image in circle_item.primary_images %}
            <img class="rsImg" src="{{ image }}" />
        {% endfor %}
        </div>
        <div class="slider-overlay"></div>
    {% else %}
        {% if circle_item.primary_image != nil and circle_item.primary_image != '' %}
            <div class="bg" style="background-image:url('{{ circle_item.primary_image }}');
                {% if circle_item.primary_image_position != nil %}background-position:{{ circle_item.primary_image_position }} center;{% endif %}"></div>
        {% else %}
            <div class="bg" style="background-image:url('{{ site.primary_image }}');"></div>
        {% endif %}
    {% endif %}
</div>