<!DOCTYPE html>
<html>
	<head>

		<!-- META Information -->
		<title>{% if page.permalink != '/' %}{{ page.title }} ~ {% endif %}{{ site.title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS Includes -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">

		<!-- JS Includes -->
		<script src="https://unpkg.com/jquery@3/dist/jquery.min.js"></script>
		<script src="/js/main.js"></script>

		{% if page.header_images %}
		<!-- RoyalSlider plugin-->
		<link rel="stylesheet" href="/plugins/royalslider/royalslider.css">
		<link rel="stylesheet" href="/plugins/royalslider/skins/minimal-white/rs-minimal-white.css">
		<script src="/plugins/royalslider/jquery.royalslider.min.js"></script>
		{% endif %}

	</head>
	<body class="{{ page.layout }}">

		<div class="circle{% if page.header_images %} slideshow{% endif %}">
			{% if page.header_images %}
				<div id="slider">
				{% for image in page.header_images %}
					<img class="rsImg" src="{{ image }}" />
				{% endfor %}
				</div>
				<div class="slider-overlay"></div>
            {% else %}
                {% if page.header_image %}
                    <div class="bg" style="background-image:url('{{ page.header_image }}');"></div>
                {% else if site.header_image %}
                    <div class="bg" style="background-image:url('{{ site.header_image }}');"></div>
                {% endif %}
			{% endif %}
		</div>

		<div class="header container">
			<img src="{{ site.logo_image }}" class="logo" />
			<div class="navigation"><ul>
				{% assign sorted_pages = site.pages | sort:"order" %}
				{% for page in sorted_pages | sort:"order" %}
					{% if page.url != "/css/main.css" %}
						<li><a href="{{ page.url }}">{{ page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul></div>
		</div>

		<div class="page-header container {% if page.header_images %} slideshow{% endif %}">
			{% if page.header_text %}
				<h2>{{ page.header_text }}</h2>
			{% else %}
				<h1>{{ page.title }}</h1>
			{% endif %}
		</div>
		


	
