<div class="item column 
    {% if item.collection == 'projects' %}project half
    {% elsif item.collection == 'findings' %}finding full
    {% elsif item.collection == 'archives' %}archive full
    {% endif %}">
<a href="{{ item.url }}">

    <!-- Preview -->
    {% assign circle_item = item %}{% include circle.html %}
    
    <!-- Title -->
    {% if item.collection == "findings" or item.collection == "projects" %}
        <h2 class="block-title"><span>{{ item.title }}</span><h2>
    {% else %}
        <h3>{{ item.title }}</h3>
    {% endif %}
    
    <!-- Subtitle -->
    {% include subtitle.html %}

    <!-- Content Preview -->
    {% if item.collection == 'findings' %}
        <p>{{ item.content | truncate: 225 }}</p>
    {% endif %}
</a></div>