<div class="item column 
    {% if page.layout == 'home' and item.collection == 'projects' %}project full
    {% elsif item.collection == 'projects' %}project half
    {% elsif item.collection == 'findings' %}finding full
    {% elsif item.collection == 'archives' %}archive full
    {% endif %}
    {% if item.primary_image == nil or item.primary_image == '' %} no-image{% endif%}    
">
<a href="{{ item.url }}">

    <!-- Image -->
    {% if item.primary_image != nil and item.primary_image != '' %}
        {% assign circle_item = item %}{% include circle.html %}
    {% endif %}

    <!-- Title -->
    {% if page.layout == "home" %}
        {% if item.collection == 'projects' %}
            <span class="item-name">Featured Project</span>
        {% elsif item.collection == 'findings' %}
            <span class="item-name">Latest Finding</span>
        {% endif %}
    {% endif %}

    <!-- Title -->
    {% if item.collection == "findings" or item.collection == "projects" %}
        <h2 class="block-title"><span>{{ item.title }}</span><h2>
    {% else %}
        <h3>{{ item.title }}</h3>
    {% endif %}
    
    <!-- Subtitle -->
    {% include subtitle.html %}

    <!-- Content Preview -->
    {% if item.collection == 'findings' %}
        <p>{{ item.content | strip_html | truncate: 225 }}</p>
    {% endif %}
</a></div>