{% include header.html %}

    <div class="home-features container">
        {% assign item = site.projects | sort: "order" | first %}{% include item.html %}
        {% assign item = site.findings | sort: "date" | reverse | first %}{% include item.html %}
    </div>

    <div class="home-featured-sections">
        <h2>{{ page.featured_sections_header }}</h2>
        <div class="columns container">
        {% for section in page.featured_sections %}
            <div class="column half"><a href="{{ section.link }}">
                <div class="circle-item" style="background-image:url('{{ section.primary_image }}')">
                    <div class="center-inside"><div>
                        <h2>{{ section.title }}</h2>
                        {{ section.description | markdownify }}
                    </div></div>
                </div>
            </a></div>
        {% endfor %}
        </div>
    </div>

    <div class="home-about content container">
        <h2>{{ page.about_header }}</h2>
        {{ page.about_content | markdownify }}
        <p><a href="{{ page.about_link_url }}">{{ page.about_link }} &#187;</a></p>
    </div>

{% include footer.html %}