{% include header.html %}

    <div class="home-findings container">
        {% assign item = site.findings | sort: "date" | first %}{% include item.html %}
    </div>

    <div class="home-features columns container">
        <h2>{{ page.home_features_header }}</h2>
        <div class="columns">
        {% for feature in page.home_features %}
            <div class="column half"><a href="{{ feature.link }}">
                <div class="circle-item" style="background-image:url('{{ feature.image }}')">
                    <div class="inside"><div>
                        <h2>{{ feature.title }}</h2>
                        <p>{{ feature.description }}</p>
                    </div></div>
                </div>
            </a></div>
        {% endfor %}
        </div>
    </div>

{% include footer.html %}