{% include header.html %}

    <div class="section container content">
        <h2>{{ page.title }}</h2>

        {% if page.collection != "projects" %}
            {% assign item = page %}{% include subtitle.html %}
        {% endif %}

        {{ page.content | markdownify }}
    </div>

    <!-- PDF Embed -->
    {% if page.file != nil and page.file != '' %}
    <div class="section container">
        <div class="file-embed">
            <object data="{{ page.file }}" type="application/pdf"></object>
        </div>
        <a href="{{ page.file }}" target="_blank" class="file-download">
            <i class="fa fa-file-pdf-o"></i>
            Download PDF
        </a>
    </div>
    {% endif %}

    <!-- Transcript (Archives) -->
    {% if page.transcript_text != '' %}
    <div class="section container content">
        {{ page.transcript_text | markdownify }}
    </div>
    {% endif%}

    <!-- Press Listing -->
    {%if page.press != nil %}
    <div class="section container columns press">
        {% for item in page.press %}
            <div class="column half">
                <div class="inside">
                    <h3>{{ item.title }}</h3>
                    {{ item.publication }} &#183; {{ item.date }}
                </div>
                <a href="{{ item.url }}">Read story</a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
 
{% include footer.html %}