{% include header.html %}

    <div class="section container content-area content">
        <h2>{{ page.title }}</h2>

        {% if page.collection != "projects" %}
            {% assign item = page %}{% include subtitle.html %}
        {% endif %}

        {% if page.collection != "archives" %}
            {{ page.content | markdownify }}
        {% endif %}
    </div>

    <!-- Archives -->
    {% if page.collection == "archives" %}
    <div class="section container">
        <details>
            <summary><i class="fa fa-file-text-o"></i> {{ site.messages.view_transcript }}</summary>
            {% if page.content.size > 1 %}
                {% include transcript.html %}
            {% else %}
                {{ site.messages.no_transcript }}
            {% endif %}
        </details>
        <details open>
            <summary><i class="fa fa-file-pdf-o"></i> {{ site.messages.view_file }}</summary>
            {% if page.file != nil and page.file != '' %}
                {% include file-embed.html %}
            {% else %}
                {{ site.messages.no_file }}
            {% endif %}
        </details>
    </div>
    {% endif %}

    <!-- PDF Embed (non-archive) -->
    {% if page.collection != "archives" and page.file != nil and page.file != '' %}
    <div class="section container">
        {% include file-embed.html %}
    </div>
    {% endif %}

    <!-- Press Listing -->
    {%if page.press != nil %}
    <div class="section container columns press">
        {% for item in page.press %}
            <div class="column half">
                <div class="inside">
                    <h3>{{ item.title }}</h3>
                    {{ item.publication }} &#183; {{ item.date }}
                </div>
                <a href="{{ item.url }}">Read story</a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
 
{% include footer.html %}