{% include header.html %}

    <span id="page-slug">{{ page.slug }}</span>

    <div class="section container content-area content">
        <h2>{{ page.title }}</h2>

        <!-- Subtitle (non-project) -->
        {% if page.collection != "projects" %}
            {% assign item = page %}{% include subtitle.html %}
        {% endif %}

        <!-- Page Content (non-archive) -->
        {% if page.collection != "archives" %}
            {{ page.content | markdownify }}
        {% endif %}
    </div>

    <!-- Explore buttons -->
    {% if page.explore_buttons %}
    <div class="section container explore-buttons">
        <h2>Explore</h2>
        <div class="columns">
            {% for button in page.explore_buttons %}
            <a class="column {{ button.class }}" href="{{ button.link }}">
                {% if button.image %}<div class="bg" style="background-image:url('{{ button.image }}')"></div>{% endif %}
                <div class="inside">
                    <div>
                        <h2>{{ button.title }}</h2>
                        <p>{{ button.description }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Archive Item: PDF & Transcript -->
    {% if page.collection == "archives" %}
    <div class="section container">
        <details>
            <summary><i class="fa fa-file-text-o"></i> {{ site.data.settings.messages.view_transcript }}</summary>
            {% if page.content.size > 1 %}
                {% include transcript.html %}
            {% else %}
                {{ site.data.settings.messages.no_transcript }}
            {% endif %}
        </details>
        <details open>
            <summary><i class="fa fa-file-pdf-o"></i> {{ site.data.settings.messages.view_file }}</summary>
            {% if page.file != nil and page.file != '' %}
                {% include file-embed.html %}
            {% else %}
                {{ site.data.settings.messages.no_file }}
            {% endif %}
        </details>
    </div>
    {% endif %}

    <!-- PDF Embed (non-archive) -->
    {% if page.collection != "archives" and page.file != nil and page.file != '' %}
    <div class="section container">
        {% include file-embed.html %}
    </div>
    {% endif %}

    <!-- Press Listing -->
    {%if page.press != nil %}
    <div class="section container press">
        <h2>Press</h2>
        <div class="columns">
            {% for item in page.press %}
            <div class="column half">
                <div class="inside">
                    <h3>{{ item.title }}</h3>
                    {{ item.publication }} &#183; {{ item.date }}
                </div>
                <a href="{{ item.url }}">Read story</a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
 
{% include footer.html %}