{% include header.html %}

    {% if page.content != "" %}
    <div class="content-area content container">
        {{ page.content | markdownify }}
    </div>
    {% endif %}

    <div class="list columns {{ page.collection }} container">
        {% if page.collection == "archives" or page.collection == "findings" %}
            {% assign collection = site[page.collection] | sort: "date" | reverse %}
        {% else %}
            {% assign collection = site[page.collection] | sort: "order" %}
        {% endif %}
        {% for item in collection %}
            {% include item.html %}
        {% endfor %}
    </div>

{% include footer.html %}