{% include header.html %}

    <div class="section container content-area content">
        <div class="tab-container" x-init="setupTabs()">
            <div class="tabs">
                <div class="active" name="reset-password">Reset your password</div>
            </div>
            <div id="reset-password" class="tab active">
                <div x-data="changePassword()">
                    <form @submit.prevent="submit()">
                        <span>New password</span>
                        <input type="password" x-model="password" />
                        <span>Confirm password</span>
                        <input type="password" x-model="passwordConfirm" />
                        <template x-if="errorMessage"><span class="error" x-text="errorMessage"></span></template>
                        <button type="submit" x-text="buttonText"></button>
                        <a href="/annotate">Click here to return to login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% include footer.html %}