<div class="admin-table" x-data="annotationList()">
    <h3 x-text="heading"></h3>
    <template x-if="loading">
        <i class="fa fa-spinner"></i>
    </template>
    <template x-if="!filterEmpty && annotations.length == 0">
        <span class="empty-message">You haven't created any annotations.</span>
    </template>
    <template x-if="filterEmpty || annotations.length > 0">
        <table cellspacing="0" cellpadding="0">
            <thead>
                <th>Annotated Text</th>
                <th>Issue</th>
                <th>Author</th>
                <th>Status</th>
                <th></th>
            </thead>
            <tbody>
                <tr class="filter">
                    <td>
                        <input type="text" x-model="filterModel.text" x-on:keypress="watchKeypress(event)" />
                    </td>
                    <td>
                        <input type="text" x-model="filterModel.context" x-on:keypress="watchKeypress(event)" />
                    </td>
                    <td>
                        <input type="text" 
                            x-show="$store.auth.user.role != 'annotator'" x-cloak 
                            x-model="filterModel.author" 
                            x-on:keypress="watchKeypress(event)" />
                    </td>
                    <td>
                        <select x-model="filterModel.status" x-on:change="filter()">
                            <option value="">All</option>
                            <option value="draft">Draft</option>
                            <option value="edited">Edited</option>
                            <option value="reviewed">Reviewed</option>
                            <option value="published">Published</option>
                        </select>
                    </td>
                    <td class="buttons">
                        <button type="submit" class="fa fa-search" x-on:click="filter()"></button>
                    </td>
                </tr>
                <template x-if="filterEmpty">
                    <tr><td>Your filter returned no results.</td></tr>
                </template>
                <template x-for="annotation in annotations" :key="annotation.guid"><tr :id="annotation.guid">
                    <td x-text="annotation.text"></td>
                    <td x-text="annotation.context"></td>
                    <td x-text="annotation.attribution ? annotation.attribution : annotation.userName"></td>
                    <td x-text="annotation.status" class="capitalize"></td>
                    <td class="buttons">
                        <div class="fa fa-pencil-square-o" x-on:click="edit(annotation)"></div>
                    </td>
                </tr></template>
            </tbody>
        </table>
    </template>
    <template x-if="errorMessage != ''">
        <span class="error-message" x-text="errorMessage"></span>
    </template>
</div>