<template x-if="$store.auth.user.role == 'administrator'">
    <div class="admin-table" x-data="userList()">
        <h3>Users</h3>
        {% include annotations/user-modal.html %}
        <template x-if="loading">
            <i class="fa fa-spinner"></i>
        </template>
        <table cellspacing="0" cellpadding="0">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th># of annotations</th>
                <th></th>
            </thead>
            <tbody>
                <tr class="filter">
                    <td>
                        <input type="text" placeholder="Filter by name..."
                            x-model="filterModel.name" x-on:keypress="watchKeypress(event)" />
                    </td>
                    <td>
                        <input type="text" placeholder="Filter by email..."
                            x-model="filterModel.email" x-on:keypress="watchKeypress(event)" />
                    </td>
                    <td>
                        <select x-model="filterModel.role" x-on:change="filter()">
                            <option value="">All</option>
                            <option value="annotator">Annotator</option>
                            <option value="editor">Editor</option>
                            <option value="administrator">Administrator</option>
                        </select>
                    </td>
                    <td></td>
                    <td class="buttons">
                        <button type="submit" class="fa fa-search" x-on:click="filter()"></button>
                    </td>
                </tr>
                <template x-if="filterEmpty">
                    <tr><td>Your filter returned no results.</td></tr>
                </template>
                <template x-for="user in users" :key="user.guid"><tr>
                    <td x-text="user.name"></td>
                    <td x-text="user.email"></td>
                    <td x-text="user.role" class="capitalize"></td>
                    <td x-text="user.annotationCount"></td>
                    <td class="buttons">
                        <div class="fa fa-pencil-square-o" x-on:click="edit(user.guid)"></div>
                    </td>
                </tr></template>
            </tbody>
        </table>
        <template x-if="errorMessage != ''">
            <span x-text="errorMessage"></span>
        </template>
    </div>
</template>