<template x-if="$store.auth.user.role == 'administrator'">
    <div class="admin-table" x-data="userList()">
        <template x-if="loading">
            <i class="fa fa-spinner table-loading"></i>
        </template>
        <h3>Users</h3>
        {% include annotations/user-modal.html %}

        <!-- Error message -->
        <template x-if="errorMessage != '' && !loading">
            <div class="error-message" x-text="errorMessage"></div>
        </template>

        <table cellspacing="0" cellpadding="0">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th># of annotations</th>
                <th></th>
            </thead>
            <tbody>
                <tr class="filter">
                    <td>
                        <input type="text" placeholder="Filter by name..."
                            x-model="query.name" x-on:keypress="watchKeypress(event)" />
                    </td>
                    <td>
                        <input type="text" placeholder="Filter by email..."
                            x-model="query.email" x-on:keypress="watchKeypress(event)" />
                    </td>
                    <td>
                        <select x-model="query.role" x-on:change="load({})">
                            <option value="">All</option>
                            <option value="annotator">Annotator</option>
                            <option value="editor">Editor</option>
                            <option value="administrator">Administrator</option>
                        </select>
                    </td>
                    <td></td>
                    <td class="buttons">
                        <button type="submit" x-on:click="load({})">
                            <i class="fa" :class="loading ? 'fa-spinner' : 'fa-search'"></i>
                        </button>
                    </td>
                </tr>
                <template x-if="users.length == 0">
                    <tr><td>Your filter returned no results.</td></tr>
                </template>
                <template x-for="user in users" :key="user.guid"><tr>
                    <td x-text="user.name"></td>
                    <td x-text="user.email"></td>
                    <td x-text="user.role" class="capitalize"></td>
                    <td x-text="user.annotationCount"></td>
                    <td class="buttons">
                        <div class="fa fa-pencil-square-o" x-on:click="edit(user.guid)"></div>
                    </td>
                </tr></template>
            </tbody>
        </table>

        <!-- Load more -->
        <template x-if="nextPage">
            <div class="load-more" x-on:click="load({nextPage: true})">Load more</div>
        </template>

    </div>
</template>